<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stucare.cloud_parent">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name=".MyFileProvider"
            android:authorities="com.stucare.cloud_parent"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />

        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FlutterMainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".classrooms.ActivityClassesTabs" />
        <activity android:name=".tests.OnlineTestsActivity" />
        <activity android:name=".tests.ActivityObjectiveTestRoom" />
        <activity
            android:name=".video_lessons.ActivityVideoLessons"
            android:theme="@style/AppThemeActionBar" />

        <activity
            android:name=".video_lessons.SubjectHome"
            android:theme="@style/AppThemeActionBar" />

        <activity
            android:name=".video_lessons.ActivityChapter"
            android:theme="@style/AppThemeActionBar" />

        <activity
            android:name=".video_lessons.ActivityVideoPlayer"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".video_lessons.ActivityCustomVideoPlayer"
            android:configChanges="orientation|screenSize"
            android:theme="@style/VideoPlayerTheme" />

        <activity
            android:name=".tests.ActivityTestReports"
            android:theme="@style/AppThemeActionBar" />

        <activity
            android:name=".tests.ActivitySubjectiveTestRoom"
            android:theme="@style/AppThemeActionBar" />

        <activity
            android:name="com.stucare.cloud_parent.tests.ActivitySubjectiveSubmission"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".PDFViewActivity"
            android:theme="@style/AppThemeActionBar" />

    </application>

</manifest>